<% content_for :actions do %>
	<% if params[:id] != nil %>
		<li>
			<%= link_to 'New file', new_asset_path(:folder_id => params[:id]), :class => 'add_icon' %>
		</li>
		<li id='destroy_asset'>
			<%= link_to 'Drop to delete File', '#', :class => 'delete_icon', :title => "Drop file to delete it." %>
		</li>
		<br/>
	<% end %>
	<% @folders.each do |folder| %>
		<li id='folder_<%= folder.id %>' class='<%= 'folder' if @folder != nil && folder.id != @folder.id %>'>
			<%= link_to folder.title, folder, :class => 'img_icon' %>
		</li>
	<% end %>
	<br/>
	<li>
		<%= link_to 'New Folder', new_folder_path, :class => 'add_icon' %>
	</li>
<% end %>
<% if @folder != nil %>
	<% content_for :javascript do %>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){
			$("li#destroy_asset").droppable({ 
				hoverClass: '.hover',
				over: function(event, ui) {
					ui.draggable.animate({
    				width: '30',
    				height: '30'
  				}, 100, function() {});
				},
				tolerance: 'pointer',
				out: function(event, ui) {
					ui.draggable.animate({
    				width: '155',
    				height: '145'
  				}, 100, function() {});
				},
				drop: function(event, ui) {
					ui.draggable.hide();
					$.ajax({
            type: 'post',
            dataType: 'script',
            url: '/assets/'+ui.draggable.attr('id')+'?_method=DELETE'
					});
				}
			});
		});
		</script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){
			$("li.folder").droppable({ 
				hoverClass: '.hover',
				over: function(event, ui) {
					ui.draggable.animate({
    				width: '30',
    				height: '30'
  				}, 100, function() {});
				},
				tolerance: 'pointer',
				out: function(event, ui) {
					ui.draggable.animate({
    				width: '155',
    				height: '145'
						
  				}, 100, function() {});
				},
				drop: function(event, ui) {
					var folder_id = 'folder_<%= @folder.id %>'
					if(folder_id !== $(this).attr('id')){
						ui.draggable.hide();
						$.ajax({
            	type: 'post',
            	data: 'folder_id='+$(this).attr('id')+'&asset_id='+ui.draggable.attr('id'),
            	dataType: 'script',
            	url: '<%= drop_asset_path %>'
						})
						
					}
				}
			});
		});
		</script>
	<% end %>
<% end %>