<head>
  <title>Rails 3</title>
  <%= stylesheet_link_tag 'refinery', 'site_bar', 'tooltips', 'ui', 'formatting', 'home', 'upload' -%>	
	<%= javascript_include_tag 	'jquery/jquery-min',
															'jquery/jquery-ui-custom-min',
														 	'jquery/jquery.corner',
                             	'jquery/jquery.textTruncate',
                             	'jquery/jquery.html5-placeholder-shim',
                             	'jquery/jquery.timers',
                             	'jquery/jquery.jcarousel',
															'jquery/jquery.nestedsortables',
															'jquery/jquery.cookie',
															'jquery/jquery.hotkeys',
															'jquery/jquery.jstree',
															'html5_for_ie',
															'admin',
															'application',
															'rails'
	%>
	<%= javascript_include_tag 	'swfupload/upload/fileprogress',
															'swfupload/upload/handlers',
															'swfupload/upload/swfupload.queue',
															'swfupload/upload/swfupload'
  %>
	<%= javascript_include_tag :ckeditor %>
	<% if request.env['HTTP_USER_AGENT'] =~ /MSIE/ %>
    <%= "<!--[if lt IE 8]>#{stylesheet_link_tag 'ie-less-than-8'}<![endif]-->".html_safe  %>
    <%= "<!--[if IE 8]>#{stylesheet_link_tag 'ie-less-than-9'}<![endif]-->".html_safe  %>
  <% end %>
	<%= csrf_meta_tag %>
	<%= yield :javascript %>
</head>