<div class='form-actions'>
	<div class='form-actions-left'>
		<% buttons.each do |button| %>
			<% if button == 'update'%>
				<%= f.submit :id => 'submit_button', :class => 'wymupdate button', :name => 'done' %>
			<% elsif button == 'updateEdit' %>
				<%= f.submit :id => 'submit_continue_button', :class => 'wymupdate button', :name => 'continue', :value => "Save &amp; continue editing".html_safe %>
			<% elsif button == 'cancel' %>
				<%= link_to :cancel, self.send("#{controller}_path"), :id => 'cancel_button', :class => 'close_dialog button', :title => "Cancelling will lose all changes you've made to this page" %>
			<% elsif button == 'back' %>
				<%= link_to :back, self.send("#{controller}_path"), :id => 'cancel_button', :class => 'close_dialog button', :title => "To #{controller.capitalize} " %>
			<% elsif button == 'show' %>
				<%= link_to :back, controller, :id => 'cancel_button', :class => 'close_dialog button', :title => "Go back" %>
			<% end %>
		<% end %>		
	</div>
	<div class='form-actions-right'>
		<% buttons.each do |button| %>
			<% if button == 'delete'%>
				<%= link_to :delete, item, :confirm => 'Are you sure?', :method => :delete,:id=> 'delete_button', :class=>'button confirm-delete', :title=> "Remove this #{controller.class.to_s.downcase} forever" %>
			<% end %>
		<% end %>
	</div>
</div>