<% render :partial => 'actions' %>

<% content_for :records do %>
<li class='clearfix record on'>
	<span class='title'>
		<%= @gallery.title %> <span class="preview">&nbsp;</span>
	</span>

	<span class='actions'>
		<%= link_to_edit 	 @gallery %>
		<%= link_to_delete @gallery %>
	</span>
</li>
<% end %>

<ul id="image_grid" class="clearfix">
	<% @gallery.images.all.each_with_index do |image, i| %>
		<li id='image_<%= image.id %>'>
			<%= image_tag image.data.url(:small) %>
		</li>
	<% end %>
</ul>
<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    // Sorting the list
    $(document).ready(function(){
      $('#image_grid').sortable({
        items: 'li',
        opacity: 0.4,
        scroll: true,
				cursorAt: { 
        	top: 15, 
        	left: 15 
        },
 				connectWith: 'li.gallery',
        update: function(){
          $.ajax({
            type: 'post',
            data: $('#image_grid').sortable('serialize') + '&gallery_id=<%= @gallery.id%>',
            dataType: 'script',
            url: '<%= sort_images_path %>'
					});
        }
      });
    });
  </script>
<% end %>